<div class="total">
    <table class="tabela1">
        <tr>
            <td class="logo"><p><i class="fa-regular fa-user fa-lg" style="color: #D14F6B;"></i></p></td>
            <td><p class="texto">Psicóloga Carolina Franco</p></td>
        </tr>
        <tr>
            <td class="logo"><p><i class="fa-regular fa-id-badge fa-lg" style="color: #D14F6B;"></i></p></td>
            <td> <p class="texto">CRP: 04/71289</p></td>
        </tr>
        <tr (click)="openTell()">
            <td class="logo"><p><i class="fa-solid fa-phone" style="color: #D14F6B;"></i></p></td>
            <td><p class="texto">(34) 99156-4730</p></td>
        </tr>
    </table>

    <table class="tabela2">
        <tr (click)="openInsta()">
            <td class="logo"><p><i class="fa-brands fa-instagram fa-lg" style="color: #D14F6B;"></i></p></td>
            <td><p class="texto">@psicarolinafranco</p></td>
        </tr>
        <tr (click)="openEmail()">
            <td class="logo"><p><i class="fa-regular fa-envelope fa-lg" style="color: #D14F6B;"></i></p></td>
            <td><p class="texto">psicarolinafranco@gmail.com</p></td>
        </tr>
        <tr (click)="openLinkedin()">
            <td class="logo"><p><i class="fa-brands fa-linkedin fa-lg" style="color: #D14F6B;"></i></p></td>
            <td><p class="texto">Carolina Teodoro Franco</p></td>
        </tr>

    </table>
</div>


