.total{
    background-color: #F4DAE0;
    padding: 1em 0em ;
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
}



p{
    // margin-left:0.5em;
    font-size: 20px;
    text-align: justify;
}

tr{
    gap:0px
}

td{
    height: 0;
}
table{
    gap:0;
    text-align: center;
}