<h1>Contatos</h1>

<div class="conteudo">

    <div class="total">  

        <div class="cards">
            <i class="fa-solid fa-phone fa-4x" style="color: #D14F6B;"></i>
            <p class="texto">Telefone</p>
        </div>            

        <div class="cards">
            <i class="fa-brands fa-whatsapp fa-4x" style="color: #D14F6B;"></i>
            <p class="texto">WhatsApp</p>
        </div>

        <div class="cards">
            <i class="fa-brands fa-instagram fa-4x" style="color: #D14F6B;"></i>
            <p class="texto">Instagram</p>
        </div>
               
        <div class="cards">
            <i class="fa-regular fa-envelope fa-4x" style="color: #D14F6B;"></i>
            <p class="texto">E-mail</p>
        </div>
            
        <div class="cards">
            <i class="fa-brands fa-linkedin fa-4x" style="color: #D14F6B;"></i>
            <p class="texto">Linkedin</p>
        </div>

        <div class="cards">
            <img class="imagem" src="../../assets/Logo - Carolina Franco - Psicóloga 2.jpg" alt="">
        </div>
        
    </div>

    <div>
        <img src="../../assets/foto.jpg" alt="" width="100%">
    </div>
    
</div>
