<h1>Serviços</h1>

<div class="grid">
    <div class="tabela">
        <img src="../../assets/reuniao-online.png" alt="">
        <h2>Psicoterapia<br> online</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus amet nesciunt est voluptate? At esse rerum voluptatum adipisci! Necessitatibus, tempora numquam. Vitae doloremque earum, officiis laborum cupiditate labore pariatur?</p>
    </div>

    <div class="tabela">
        <img src="../../assets/entrevista.png" alt="">
        <h2>Psicoterapia presencial</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus amet nesciunt est voluptate? At esse rerum voluptatum adipisci! Necessitatibus, tempora numquam. Vitae doloremque earum, officiis laborum cupiditate labore pariatur?</p>
    </div>

    <div class="tabela">
        <img src="../../assets/encontro.png" alt="">
        <h2>Rodas de conversa, oficinas e palestras</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus amet nesciunt est voluptate? At esse rerum voluptatum adipisci! Necessitatibus, tempora numquam. Vitae doloremque earum, officiis laborum cupiditate labore pariatur?</p>
    </div>

</div>

<div class="botao">
    <p class="agendar">Agendar</p>
</div>