<div class="grid">
    <div class="tabela">
        <img src="../../assets/reuniao-online.png" alt="">
        <h1>Psicoterapia online</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus amet nesciunt est voluptate? At esse rerum voluptatum adipisci! Necessitatibus, tempora numquam. Vitae doloremque earum, officiis laborum cupiditate labore pariatur?</p>
    </div>

    <div class="tabela">
        <img src="../../assets/entrevista.png" alt="">
        <h1>Psicoterapia presencial</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus amet nesciunt est voluptate? At esse rerum voluptatum adipisci! Necessitatibus, tempora numquam. Vitae doloremque earum, officiis laborum cupiditate labore pariatur?</p>
    </div>

    <div class="tabela">
        <img src="../../assets/encontro.png" alt="">
        <h1>Rodas de conversa, oficinas e palestras</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus amet nesciunt est voluptate? At esse rerum voluptatum adipisci! Necessitatibus, tempora numquam. Vitae doloremque earum, officiis laborum cupiditate labore pariatur?</p>
    </div>

</div>